jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.3
jupyterlab-server==0.2.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
numpy==1.15.4
numpydoc==0.8.0
pandas==0.23.4
scikit-image==0.14.1
scikit-learn==0.20.1
tensorboard==1.12.2
tensorflow==1.13.1    
tensorflow-estimator==1.13.0rc0
